{% extends 'app/base.html' %}
{% load static %}
{% block title %} Change Password Done {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcom Sonam</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary"><h6>Change Password Done</h6></a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center ">
            <h3>Password Change Successfully !!</h3>
            <div>
                <img src="{% static 'app/images/giphy.gif' %}" class="img-fluid giphy-embed" width="400" height="400" allowFullScreen  >
            </div>
        </div>

    </div>
</div>
{% endblock main-content %}